
body {
	display: flex;
	justify-content: space-around;
	background-color: #fafafa;
	background-blend-mode: darken;
	

	}
	audio {
		
	}
p {
	color: black;
	text-shadow: 2px 1px 2px rgba(90, 90, 90, 0.5);;
	 font-family:comic sans ms;


}


div {

	background-color: #fafafa;
}

p:before { content: "✩ " }
