
body {
	display: flex;
	justify-content: space-around;
	background-color: rgba(226, 110, 239, 0.5);
	background-image: url(img/background.jpg);
	background-blend-mode: darken;

	}
	audio {
		box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
		border: 3px #727171 outset;
	}
p {
	color: white;
	padding: 2px;
	margin: 2px;
	 font-family:comic sans ms;

}
h2 {
	color: white;
	 font-family:comic sans ms;

}

document.getElementById('player2').addEventListener('ended', function(){
    document.getElementById('player3').play();
}, false);